$clr-violet: 263 55% 52%;
$clr-gray-blue: 217 19% 35%;
$clr-black-blue: 219 29% 14%;
$clr-white: 0 0% 100%;
$clr-light-grey: 0 0% 81%;
$clr-light-gray-blue: 210 46% 95%;

$ff-main: "Barlow Semi Condensed", sans-serif;

$fs-normal: 0.8rem;

$breakpoint-mobile: 375px;
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1440px;
